<div class='container'>
    <div class='col-lg-6 mx-auto my-5'>
        <h1>Welcome to <i class="fas fa-book"></i> Bookers!!</h1>
        <p class='my-3'>In <i class="fa-solid fa-book"></i> Bookers,</br></p>
        <p class='my-3'>you can share and exchange your opinions , inpressions , and emotions</p> 
        <p class='my-3'>about various books!</p>
        <%= link_to 'Log in', new_user_session_path, class: 'btn-primary btn btn-sm btn-block text-center mx-auto col-lg-10 my-3', style: 'color: white;' %>
        <%= link_to 'Sign up', new_user_registration_path, class:'btn-success btn btn-sm btn-block text-center mx-auto col-lg-10 my-3', style: 'color: white;'  %>
        
        
    </div>
</div>